body{
    color: lightslategrey;
}
.yearly{
    margin-bottom:30px;
    margin-right: 10px;
}

.monthly{
    margin-bottom:30px;
    margin-left: 10px;
}

.toggle-switch{
    display: flex;
    justify-content: center;
}

.headerTag{
    text-align: center;
    color: lightslategrey;
}
.cards{
    display: flex;
   flex-wrap: wrap;
   justify-content: center;

}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(7, 1, 1, 0.2);
    transition: 0.5s;
    width: 18%;
    border-radius: 3%;
    font-family:'Montserrat', sans-serif;
    font-weight: 700;
  }

  .card:hover {
    box-shadow: 0px 10px 30px rgba(24, 13, 119, 0.205);
    box-sizing: border-box;
    background-color: hsl(236, 72%, 79%);
    
    color: aliceblue;
    padding: 2rem 0;
    width: 20%;
    margin: .5rem .5rem;
    transition: box-shadow.7s ease;
    background-image: linear-gradient(
        to right,
        hsl(236, 72%, 79%),
        hsl(237, 63%, 64%)
      );
  }
  .container{
      text-align: center;
  }

  .btn{
    border-color: blue;
    color:hsl(236, 72%, 79%);
    /* border-radius: 20%; */
    background-color:white;
    color: rgb(142, 128, 238);
    box-shadow: 0px 10px 30px rgba(24, 13, 119, 0.205);
    transition: all 150ms ease-in-out;
    margin: 2rem 2rem;
    padding: 1rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;
    border-radius: 10px;
    
  }
  .btn:hover {
      color:white;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgb(142, 128, 238) inset, 0 0 10px 4px  hsl(236, 72%, 79%);
    background-image: linear-gradient(
        to right,
        hsl(236, 72%, 79%),
        hsl(237, 63%, 64%)
      );
      border-color: #fff;
  }


  .price-cards-section{
    display: flex;
   flex-direction: column;
   justify-content: center;
   background-image: url("./images/bg-top.svg"), url("./images/bg-bottom.svg");
   background-repeat: no-repeat, no-repeat;
   background-position: right top, left bottom;
   margin:0.5em;
   height: 100vh;
  }

  .box{
      border-bottom: 1px solid grey;
        margin: 20px;
        padding: 10px;
        font-size: small;
  }

  .box1{
    border-bottom: 1px solid grey;
      margin: 20px;
      padding: 10px;
      font-size: 3em;
}




  /* toggle switch code */

 .switch{
     position: relative;
     display: inline-block;
     width: 60px;
     height: 30px;
     margin: 0, 1em;
     /* margin-bottom: 10px; */
 }

 .slider{
     position: absolute;
     cursor: pointer;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-image: linear-gradient(
        to right,
        hsl(236, 72%, 79%),
        hsl(237, 63%, 64%)
      );
     transition: 0.4s;
     border-radius: 25px;
     align-content: center;
 }

 .switch input{
     display: none;
 }

 .slider::before{
     position: absolute;
     content: "";
     height: 20px;
     width: 20px;
     left: 5px;
     bottom: 5px;
     background-color: #fff;
     transition: 0.4s;
     border-radius: 20px;
 }

 input:checked + .slider{
     background-color: rgb(142, 128, 238);
 }

 input:checked + .slider::before{
    transform: translateX(30px)
}